.no-padding {
  padding: 0px;
}

.dashboard-table {
  td {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .no-padding-top-bottom {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 8px;
  }
  .search-box {
    margin-top: 0px;
  }
  font-size: 18px;
  font-weight: 300;
}
.bg-navy {
  background-color: #243647;
}

.bg-grey-navy {
  background-color: #C2D0D8;
}

.text-white {
  color: white;
}

.text-primary {
  color: #1DB797;
}