.no-padding {
  padding: 0px;
}

.dashboard-table {
  td {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  tr {
    background-color: white;
  }
  .no-padding-top-bottom {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 8px;
  }
  .search-box {
    margin-top: 0px;
  }
  font-size: 18px;
  font-weight: 300;
  .collapse.in {
    display: table-row !important;
  }
}

.patient-info {
  background-color: #F2F4F7;
  color: #243647;
  font-size: 16px;
  th {
    vertical-align: top;
    width: 100px;
  }
  td {
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 8px;
    padding-right: 8px;
    vertical-align: top;
    background-color: #F2F4F7;
  }
}
.bg-navy {
  background-color: #243647;
}

#header-row {
  background-color: #C2D0D8;
}

.text-white {
  color: white;
}

.text-primary {
  color: #1DB797;
}