<section class="view index">

  <div class="view-top-bar">
    <h1 class="view-current-title">What would you like to do?</h1>
    <h2> Low Quantity </h2>
    <table class="table">
       <tr class="table-header">
         <th>Name</th>
         <th>Quantity</th>
       </tr>
       {{#each mockInventory as |inventory|}}
         <tr>
           <td>{{inventory.inventoryItem.name}}</td>
           <td>{{inventory.quantity}}</td>
         </tr>
       {{/each}}
    </table>
	
  </div>

</section>
